body,
html {
	background: #FFF;
	width: 100vw;
}

h1,
h2,
h3,
h4,
h5 {
	color: var(--Primary-colour, #180344);
	font-family: 'Hanken Grotesk',
		sans-serif;
	line-height: 150%;
	font-weight: 800;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3.25rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

p,
h6 {
	font-family: 'Lato',
		sans-serif;
	line-height: 106%;
}

h6 {
	font-weight: 600;
	font-size: 1.75rem;
}

p,
button {
	font-weight: 400;
}

button {
	display: flex;
	padding: 1.25rem 3.5rem;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
	border-radius: 6.25rem;
	text-align: center;
	font-family: 'Lato',
		sans-serif;
	font-size: 1.375rem;
	line-height: 1.125rem;
}

.button-p {
	background: var(--Primary-colour, #180344);
	border: none;
	color: #FFF;

}

.button-s {
	border: 1px solid var(--Primary-colour, #180344);
	color: var(--Primary-colour, #180344);
	background: transparent;
}

a {
	text-decoration: none;
	display: flex;
}

h1,
h2,
h3,
h4,
h5,
h5,
h6,
p,
ul {
	margin: 0;
}

input:focus,
textarea:focus {
	outline: none;
}

.img-hover-zoom--slowmo,
.img-hover-zoom--slowmo-75,
.img-hover-zoom--slowmo-5,
.img-hover-zoom--slowmo-25 {
	transform-origin: 50% 65%;
	transition: transform 2s ease-in-out;
}

.img-hover-zoom--fast {
	transition: transform .5s ease-in-out;
}

.img-hover-zoom--slowmo:hover,
.img-hover-zoom--fast:hover {
	transform: scale(1.1);
}

.img-hover-zoom--slowmo-75:hover {
	transform: scale(1.075);
}

.img-hover-zoom--slowmo-5:hover {
	transform: scale(1.05);
}

.img-hover-zoom--slowmo-25:hover {
	transform: scale(1.05);
}

.circle-expand {
	transition: transform 2s ease-in-out;
}

.circle-expand:hover {
	transform: scale(1.2);
}